.body {
    overflow-x: hidden;
}
main {
    padding: 3rem 0;
}
.rel-parent {
    position: relative;
}
.geo-icon {
 position: absolute;
 border-radius: 7px;
 left: 1.5%;
 top: 27.25%;
}
.float-effect {
    position: relative;
}
.floating-label {
    position: absolute;
    left: 10px;;
    top:0;
}
input[type="text"],input[type="time"],input[type="date"] {
border-radius: 7px;
}

.home-section {
    background-image: url("images/bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 400px;
}

.find-button {
    border: none;
    padding: 0.5rem 0.8rem;
    border-radius: 10px;    
    min-width: 25%;
    text-decoration: none;
    background-color: rgb(241, 229, 214);
    text-align: center;
    color: black;
}
#confirmbtn {
    margin-left: 1.5rem;
    margin-right: 1rem;
}
/* CUSTOM POP UP MESSAGE */
.custom-popup {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    /* max-width: 700px; */
    /* text-align: left; */
  }
  
  .d-none {
    display: none;
  }
/* END CUSTOM POP UP */

@media screen and (max-width: 216px){
    #bookingForm .form-btns{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
}
@media screen and (max-width:312px){
    main {
        padding: 0px;
    }
    #bookingForm {
        flex-direction: column;
  
    }
    #bookingForm .col-6{
        width: 100%;
    }
    /* #bookingForm .form-btns {
        
    } */
    #confirmbtn{
        margin-left: 0px;
        margin-right: 6px;
    }
}
